.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  text-align: left;
}

.label {
  font-weight: 600;
}
