*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-background: #023e8a;
  --color-text: #caf0f8;
  --font-body: 'Inter', system-ui, sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

#root {
  min-height: 100vh;
}
